* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.background {
    background-image: url("img/library_picture.jpg");
    height: 100%;
}

.title-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    color: white;
    font-family: "Bokor", serif;
    font-weight: 400;
}

.review-btn {
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    background-color: #4e3b31;
    color: white;
    box-shadow: 2px 2px 2px white;
}


.review-container {
    width: 95vw;
    height: 80vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article-container {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 10px;
    font-size: 1rem;
}

.book-img {
    display: flex;
    justify-content: center;
}
.small-book {
    width: 150px;
    height: auto;
}

.book-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

.toggle-btn {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 2px;
}

dialog {
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: white;
    border-radius: 0.25rem;
    width: 50ch;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
  }

  .modal-form > * {
    padding: 1rem;
  }


  