* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 20vh;
    width: 100vw;

}

.background {
    background-image: url("img/library_picture.jpg");
    height: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title {
    z-index: 2;
    font-size: 3rem;
    color: #4e3b31;
    font-family: "Bokor", serif;
    font-weight: 400;
}

.review-btn {
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    background-color: #4e3b31;
    color: white;
    box-shadow: 2px 2px 2px black ;
}